/* CSS Document */

body {
	margin: 0;
	font-family: Tahoma, Verdana, Segoe, sans-serif;

	size: 10px;
}

li a {
	display: block;
	float: right;
	padding: 14px 16px;
	color: white;
	list-style-type: none;
	text-decoration: none;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 15px;
	font-family: "Sans-serif", Verdana;
}

li a:hover {
	background-color:#484848;
}

ul {
	position: fixed;
	top: 0;
	z-index: 9999;
	display: inline;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: black;
	color: white;
	list-style-type: none;
	font-family: "Sans-serif", Verdana;
}

.main {
	display: flex;
    margin-top: 40px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 319px;
	background-color: black;
}

#services {
	padding: 50px;
	text-align: center;
}

#portfolio {
    padding: 50px;
    text-align: center;
    vertical-align: center;
}

#aboutme {
    padding: 50px;
    text-align: center;
    vertical-align: center;
}

#contactme {
    padding: 50px;
    text-align: center;
    vertical-align: center;
}

.container-box {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	width: 100%;
}

.box-md-1 {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 1px;
}

#left {
	float: left;
	width: 250px;
}

#right {
	float: right;
	width: 250px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width: 250px;
}

.floating-text {
    width: 100%;
    color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: "Sans-serif", Verdana;
    left: 0;
    top: 180px;
    position: absolute;
    vertical-align: center;
    text-shadow: 3px 3px black;
}

.servicesbox {
    width: 1000px;
    text-align: center;
    display: inline-block;
}

#image {
    position: absolute;
    left: 0;
    top: 40px
}

#banner{
    width: 1734px;
    height: 319px;
}

.aboutme {
    width: 500px;
    align-content: center;
    display: inline-block;
    text-align: left;
}